@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");

/* reset css
 */

#root {
  --main-fonts: "Stack Sans Text", sans-serif;

  /* text colors */

  --Primary-text: #1254ff;
  --Secondary-text: #010021;

  /* box color  */

  --box-button: #1254ff;
  --button-circle: #b0b8d0;
}
* {
  margin: 0;
  padding: 0;
  font-family: var(--main-fonts);
  list-style: none;
  text-decoration: none;
}

ul,
li,
a,
p,
h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

h1 {
  font-size: 40px;
}

p {
  color: var(--Primary-text);
  font-size: 16px;
}

@media only screen and (min-width: 320px) {
  p {
    color: var(--Primary-text);
    font-size: 12px;
  }

  h1 {
    font-size: 20px;
  }
}

@media screen and (min-width: 754px) {
  h1 {
    font-size: 40px;
  }

  p,
  li,
  a {
    color: var(--Primary-text);
    font-size: 16px;
  }
}
